.financial-literacy{
    text-transform: uppercase;
    color: $light-green;
}

.education{
    text-transform: uppercase;
    color:$light-blue;
}

.happening-now{
    text-transform: uppercase;
    color: $light-red;
}
.black-female-excellence{
    text-transform:uppercase;
    color: $light-purple;
}
.category{
    text-transform: uppercase;
}
.prosparity{
    text-transform: uppercase;
    color: $prosparity-pink
}
.regular{
    text-transform:uppercase;
    color: $black;
}

.card-text-shadowing{
    box-shadow: 0px 2px 10px #E1A2CD;
}